doctype html
html
	head
		title= title
		meta(charset="utf-8")
		meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="black")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet" href="./lib/css/ratchet.min.css")
		link(rel="stylesheet" href="./lib/css/ratchet-theme-ios.min.css")
		link(rel="stylesheet" href="css/app.css")
		link(rel="stylesheet" href="css/index.css")
		script(src="http://at35.com:4567/faye/client.js")
		script(src="./lib/js/zepto.min.js")
		script(src="./lib/js/ratchet.min.js")
		script(src="./lib/js/miniobj.min.js")
		script(src="./lib/js/Collection.min.js")
		script(src="./lib/js/sifter.min.js")
		script(src="./lib/js/iChatClient.js")
		script(src="./lib/js/fastclick.min.js")
		script(src="./lib/js/iscroll-min.js")
		script(src="./js/config.js")
		script(src="./js/localstorage.js")
		script(src="./js/index.js")
		script(src="./js/fastclick_body.js")
	body
		block content