.updated-text {
  position: absolute;
  left: 0;
  right: 0;
  padding: 10px 0;
  font-size: 11px;
  text-align: center;
}

.table-view-cell .icon {
  color: #007aff;
}

.chat_footer input{
	width: 90%;
	margin-top: 8px;
	height: 30px;
}

.card_avarta{
	padding: 10px 20px 0;
}

.card_avarta p{
	margin-left: 12px;
}