/*首页列表内容*/
.table-view-cell .icon {
  color: #007aff;
}

.table-view-cell a img{
	border-radius: 5px;
}

/*首页列表内容的时间*/
.media-body span{
  font-size: 12px;
  float: right;
  color: #bbb;
}

.table-view-cell>a:not(.btn){
	padding-right:10px;
}

/*首页右上角加号*/
.group_chat_box {
	background: #000;
	color: #fff;
	position: relative;
	right:-26px;
	top:53px;
	float: right;
	display: inline-block;
	word-wrap: break-word;
	word-break: break-all;
	vertical-align: middle;
	display: none;
}

.group_chat_box:before {
	border-bottom: 6px solid #000;
	content: "";
	position: absolute;
	right: 10px;
	top:-5px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}
.group_chat_box ul{
	margin: 0;
}
.group_chat_box ul li{
	background: #000;
	border-radius: 5px;
}
